.filters{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
}

.filters input, .filters select, .filters option{
    width: 200px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 800;
    margin-top: 5px;
}

label{
    color: rgb(120, 120, 120);
}